.card{
    padding: 2rem;
    background-color: $primaryColor;
    color: $colorLight;
    margin:20px auto;
    width: 400px;
    height: auto;

    .card-header{
        padding: 0.4rem 0;
        border-bottom: 2px solid #333;
    }
    p{
        padding: 10px 0;
    }

    a{
        background-color: $colorLight;
        padding:5px;
        text-decoration: none;
        color: $primaryColor;
        border-radius: 3px;
    }
}