.card{
    padding: 2rem;
    background-color: $primaryColor;
    color: $colorLight;
    margin:20px auto;
    width: 400px;
    height: auto;

    .card-header{
        padding: 0.4rem 0;
        border-bottom: 2px solid #333;
    }
    .card-body{
        margin: 10px 0;
    }

    a{
        margin: 30px 0;
        background-color: $colorLight;
        padding:5px 3px;
        text-decoration: none;
        color: $primaryColor;
    }
}