@import "./abstract/_colors";
@import "./abstract/_fonts";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $primaryColor;
    background-color: $colorLight;
    font-family: $fontFamily;
}

.box {
  padding: 10px;
  height: 200px;
  h2 {
    background-color: green;
  }
}
